<launch>
    <!-- arg -->
    <arg name="frame_id" default="base_link" />
    <arg name="simple_mode" default="true" />

    <!-- parameter -->
    <node name="hex_chassis" pkg="hex_vehicle" type="chassis_trans.py" output="screen" >
        <!-- parameter -->
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="simple_mode" value="$(arg simple_mode)" />
        
        <!-- subscribe -->
        <remap from="/motor_status" to="/motor_status" />
        <remap from="/real_vel" to="/real_vel" />
        <remap from="odom" to="/odom" />
        <!-- publish -->
        <remap from="/joint_ctrl" to="/joint_ctrl" />
        <remap from="/cmd_vel" to="/cmd_vel" />
    </node>
</launch>